@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#product_cards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 3em;
}

.product_pic_container {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
    /*ℹ️ This should be same as the border-radius for product_card div*/
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    height: 11em;
    position: relative;
    border-bottom: 2px ridge var(--pink-like)
}

.product_pic_container img {
    position: absolute; /*For centering */
    left: 50%;
    transform: translate(-50%, 0%);


    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 100%;
    width: 100%;
}

.product_card {
    width: 60%;
    border-radius: 1.3em;
    /*ℹ️ This should be same as the border-radius for product_pic_container div*/
    margin: 1em 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: transform 500ms ease;
}

.product_card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-3%);
    cursor: pointer;
}


.product_info {
    text-align: center;
    padding: 3px;
}


.product_info h4 {
    font-family: 'Nunito', sans-serif;
}

.product_info h4 {
    font-size: 1.5rem;
    margin-top: 10px !important;
    color: #2D1E2F;
    overflow-wrap: break-word;
}

.product_disc{
    font-family: 'Ubuntu', sans-serif;
    padding: 0 0.5em;
}




/*---------------------------DESKTOP DEVICES-------------------------------------------*/

@media only screen and (min-width: 768px) {
    .product_card {
        width: 20%; /*May need to change this for larger desktop*/
        min-width: 19%;
        margin: 1em 1em;
        min-height: fit-content;
    }

    #product_cards_container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }



}





.buy-btn {
    background-color: #f72585;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    border-radius: 10em;
    border: 1px solid #f72585;
    transition: background-color 150ms ease;
    font-family: var(--bebas);
    font-size: large;
    margin-bottom: 2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.buy-btn:hover {
    background-color: white;
    color: #f72585;
    cursor: pointer;
}
