@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Noto+Sans+JP&display=swap');



:root{
    --purple-like:rgba(153, 47, 252, 0.959);
    --font-normal:'Noto Sans JP', sans-serif;
    --ubuntu:'Ubuntu', sans-serif;
    --little-heading: 'Encode Sans SC', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 55px 0;
}

.break {
    background-color:tomato;
    height: 3px;
    display: block;
    margin: auto;
    width: 0;
    animation: revealBreak 2s forwards ease-out;
}


@keyframes revealBreak {
    0% {width: 0%;}
    100% {width: 60%;}
}


#body-heading {
    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    margin-top: -21px;
    text-align: center;
}

#body-heading img {
    margin-top: 3.5em;
    vertical-align: middle;
    height: 10.5em;
    animation: slide-header-from-top 0.7s forwards ease-out;
    box-sizing: border-box;
    border-radius: 2%;
    border: 5px white ridge;
}



.heading-elements {
    animation: slide-header-from-top 1s forwards ease-out;
    font-family: var(--ubuntu) !important;
    margin-left: 4px;
    color: white;
}

@keyframes slide-header-from-top {
    0% {margin-top: -10em;opacity: 0;}
    80%{opacity: 1;}
    100%{margin-top: 2.5em;}
}


.about-section {
    margin: 1em;
}

p {
    font-family: var(--font-normal);
}


#splide__list img{
    display: block;
    margin: 0 auto;
}

.header__second,h2{
    font-family: var(--little-heading);
    text-align: center;
    color: var(--purple-like);
}


#services ul {
    list-style: none;
    font-family: var(--ubuntu);
}

.fa-hand-point-right{
    color: #ffac33;
    font-size: 3em;
}

#services ul li::before {
    content: '👉';
    font-size: 1.2em;
    padding-right: 0.3em;
}