@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Noto+Sans+JP&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --dark-bg: #212529;
  --font-normal: "Noto Sans JP", sans-serif;
  --pink-like: #f72585;
  --ubuntu: "Ubuntu", sans-serif;
  --little-heading: "Encode Sans SC", sans-serif;
  --lato: 'Lato', sans-serif;
  --dull-white: white;
  --bebas: 'Bebas Neue', cursive;
  --purple-like:rgba(129, 2, 247, 0.96);

}

a {
  -webkit-tap-highlight-color: transparent;
}
/*
html {
  scroll-behavior: smooth;
}
*/

body {
  margin: 0 0 55px 0;
  background-color: var(--dull-white);
}

.break {
  background-color: #f77f00;
  height: 3px;
  display: block;
  margin: auto;
  width: 0;
  animation: revealBreak 2s forwards ease-out;
}

@keyframes revealBreak {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

#body-heading {
  /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

  background-image: url("/images/panel1.jpg");

  margin-top: -20px;
  text-align: center;
}

#body-heading img {
  margin-top: 3.5em;
  vertical-align: middle;
  width: 85%;
  animation: slide-header-from-top 0.7s forwards ease-out;
  box-sizing: border-box;
  border-radius: 2%;
  border: 5px white ridge;
}

.heading-elements {
    animation: slide-header-from-top 1s forwards ease-out;
    font-family: var(--ubuntu) !important;
    margin-left: 4px;
    color: white;
}










@keyframes slide-header-from-top {
    0% {
        margin-top: -10em;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
  100% {
    margin-top: 2.5em;
}
}

.about-section {
  margin: 0;
  padding-bottom: 1em;
}

.about-section .header__second {
    margin-top: 0;
}

.about-section p {
    font-family: var(--font-normal);
    margin: 1.1rem;
}

.about-section > p::first-letter {
    color: var(--pink-like);
  display: block;
  font-size: 200%;
  font-weight: bolder;
  padding-right: 0.088ch;
}



#splide__list img {
    display: block;
    margin: 0 auto;
}

.header__second {
    font-family: var(--little-heading);
    text-decoration: underline;
    text-decoration-color: var(--pink-like);
    text-underline-offset: 3px;
    text-align: center;
    color: var(--purple-like);

/*     
    animation-name: fade-text;
    animation-duration:1500ms;
    animation-direction: forwards;
    position:relative; */

}


@keyframes fade-text {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}






.services_and_features {
  background-color: snow;
}

.services_and_features span {
  color: rgba(129, 2, 247, 0.96);
  text-align: left;
  font-size: 200%;
  padding-left: 0.3em;
  font-family:  'Lato', sans-serif;
  font-weight: bolder;
  border-left: 3px solid #212529;
  margin-left: 0.5em;
}


.features, .services {/*May need to copy this for service section*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}


.feature__item {
  margin: 1em 1em;
  border-radius: 1em;
}

.feature__item img {
  width: 5.2em;
  display: block;
  margin: auto;
}

.feature__item h4 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #ff006e;
}



#contact-div {
  padding-top: 3em;
  height: 25em;
background-color: #74EBD5;
background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

height: 100%;
}

#contact-div  * {
  box-sizing: border-box;
}

#contact__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: auto;

  background: white;
  max-width: 90%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1.4em;
}

.contact_item {
  margin: 0 1em 1em 1em; 
  display: inline-block;
  margin-top: 1em;
}

.contact__icon {
  display: inline-block;
  color: var(--pink-like);
  font-size: 1.4em
}

.contact__method {
  display: block;
  font-family: var(--font-normal);
  color:var(--dark-bg);
  font-size: small;
  margin-left: 2em;
}

.contact__text {
  font-family: var(--bebas)
}


.contact__method a:hover {
  color: var(--pink-like);
}


.footer {
  height: fit-content;
  background-color: #F5FFFA;
}

.footer_items {
  text-align: center;
  padding-top: 0.4em;
  color: var(--dark-bg);
}

.credits {
  font-family: var(--lato);
}

.footer_items a{
  text-decoration: none;
  color: var(--dark-bg);
}



.footer_items a:hover{

  color: var(--purple-like);
}



.psycho {
  font-family: var(--little-heading);
  display: block;
}


#love {
  color: #f03a47;  
  padding-top: 0.3em;
}





 

.map_iframe{

  margin-top: 4em;
  width: 100%;
  padding-bottom: 2em;
}

.map_iframe iframe {
  display: block;
  margin: auto;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 80%;
}

#contact-div {
  border-radius: 0.5em;
}



.social_icons {
  display: block;
}




@media only screen and (min-width: 768px) {

  .about-section p {
    width: 75%;
  }

  .header__second {
    text-decoration-thickness: 3px;
    text-underline-offset: 0.3em;
    font-size: 2.5em;
  }
  
  #body-heading {
    position: relative;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
    
  }
  

  #body-heading img {
    width: 26em;
  }

  .feature__item {
    margin: 1em 4em;
    border-radius: 1em;
  }

  .map_iframe iframe {
    width: 90%;
  }
  
  #contact__container { 
    width: 60%
  }

}


@media screen and  (min-width: 1150px) {
  #body-heading {
    clip-path: polygon(0px 0px, 100% 0px, 100% 99.41%, 1px 292px);
    background-size: 100% auto;
  }
}


.social-container {
  padding-bottom: 4em;
}





#social {
  margin: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.smGlobalBtn { /* global button class */
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}
.facebookBtn:hover{

    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* whatsapp button class*/
.whatsappBtn{
    background: #25d366;
}

.whatsappBtn:before{
      font-family: "FontAwesome";
      content: "\f232"; /* add  whatsapp icon */
      
      
}

.whatsappBtn:hover{
      color: #25d366;
      background: #fff;
      border-color: #25d366;
}


.header__second{
  opacity: 0;
}

/*InterSection animation*/


.slide_from_left {
  animation-name: from-left;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);

  -webkit-animation-name: from-left;
  -webkit-animation-duration: 1.4s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes from-left {
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}

#view_more {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

#view_more a {
  display: block;
  text-decoration: none;
  width: 80%;
  outline: none;
  background-color: #f72585;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  border-radius: 10em;
  border: 1px solid #f72585;
  transition: background-color 150ms ease;
  font-family: var(--bebas);
  font-size: large;
  margin-bottom: 2em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#view_more a:hover, #view_more a:focus {
    
    background-color: white;
    color: #f72585;
    cursor: pointer;


}


#image_gallery {    
  line-height: 0;       
   -webkit-column-count: 5;    
   -webkit-column-gap: 0px;    
   -moz-column-count: 5;
   -moz-column-gap: 0px;
    column-count: 5;    
    column-gap: 0px;    
}  
#image_gallery img {    
  width: 100% !important;    
  height: auto !important;  
  padding: 0.1em 0;
}  
#image_gallery{    
  display:inline-block;    
  margin-right: auto;    
  margin-left: auto;  
}

@media (max-width: 1000px) {
  #image_gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
 }  
@media (max-width: 800px) {
  #image_gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
 }  
@media (max-width: 400px) {
  #image_gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
   column-count:        1;
  }
 }

@media only screen and (min-width: 768px) {
  #view_more a{
    width: 50%;
  }
}