@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Noto+Sans+JP&display=swap");

:root {
  --dark-bg: #212529;
  --font-normal: "Noto Sans JP", sans-serif;
  --pink-like: #f72585;
  --ubuntu: "Ubuntu", sans-serif;
  --little-heading: "Encode Sans SC", sans-serif;
}
/*
html {
  scroll-behavior: smooth;
}
*/

body {
  margin: 0 0 55px 0;
}

.break {
  background-color: #f77f00;
  height: 3px;
  display: block;
  margin: auto;
  width: 0;
  animation: revealBreak 2s forwards ease-out;
}

@keyframes revealBreak {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

#body-heading {
  /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

  background-image: url("/images/solar/solar_panel.jpg");

  margin-top: -20px;
  text-align: center;
}

#body-heading img {
  margin-top: 3.5em;
  vertical-align: middle;
  width: 85%;
  animation: slide-header-from-top 0.7s forwards ease-out;
  box-sizing: border-box;
  border-radius: 2%;
  border: 5px white ridge;
}

.heading-elements {
    animation: slide-header-from-top 1s forwards ease-out;
    font-family: var(--ubuntu) !important;
    margin-left: 4px;
    color: white;
}

@keyframes slide-header-from-top {
    0% {
        margin-top: -10em;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
  100% {
    margin-top: 2.5em;
}
}

.about-section {
    margin: 0;
  padding-bottom: 1em;
}

.about-section .header__second {
    margin-top: 0;
}

.about-section p {
    font-family: var(--font-normal);
    margin: 1.1rem;
}

.about-section > p::first-letter {
    color: var(--pink-like);
  display: block;
  font-size: 200%;
  font-weight: bolder;
}

#splide__list img {
    display: block;
    margin: 0 auto;
}

.header__second {
    font-family: var(--little-heading);
    text-decoration: underline;
    text-decoration-color: var(--pink-like);
    text-underline-offset: 3px;
    text-align: center;
    color: var(--purple-like);

    
    animation-name: fade-text;
    animation-duration:1500ms;
    animation-direction: forwards;
    position:relative;

}


@keyframes fade-text {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}


