


.buy-btn {
    background-color: #f72585;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    border-radius: 10em;
    border: 1px solid #f72585;
    transition: background-color 150ms ease;
}


.buy-btn:hover {
    background-color: white;
    color: #f72585;
    cursor: pointer;
}